# Ignore everything by default
*

# Allow only the folders we actually want to track
!DATA_CLEANING_SCRIPTS/
!DATA_PULL_SCRIPTS/
!DATA/
!DATA/GITHUB_PUSH/

# Allow gitignore itself
!.gitignore

# Ignore R / Positron noise
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Ignore OS junk
Thumbs.db
desktop.ini
.DS_Store
